<h1> Contact Page</h1>
<ul>
  <li><a href="/">Home Page</a></li>
  <li><a href="/about">About</a></li>
</ul>

<form method="post" action="sended">
  <div class="row">
    <div class="six columns">
      <label for="Email">Your email</label>
      <input
        class="u-full-width"
        name="userEmail"
        type="email"
        placeholder="test@mailbox.com"
        id="Email"
      />
    </div>
    <div class="six columns">
      <label for="UserName">Your Name</label>
      <input
        class="u-full-width"
        name="userName"
        type="text"
        placeholder="Your Name"
        id="UserName"
      />
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea
    class="u-full-width"
    name="userText"
    placeholder="Hi Dave …"
    id="exampleMessage"
  ></textarea>
  <input class="button-primary" type="submit" value="Submit" />
</form>